@import '../../saas/utils/variables';
@import '../../saas/utils/mixin';

.header {
  @include flex(null, null, null, center, center);
  background: 50% 50% url('../../assets/home-header.jpg');
  border-radius: map-get($radius, header);
  height: 223px;
  width: 100%;
  padding: 0;
  margin-bottom: map-get($margin, primary);

  &::after {
    content: '';
    border-radius: map-get($radius, header);
    backdrop-filter: brightness(0.7);
    width: 100%;
    height: 100%;
  }

  @include mobile {
    justify-content: flex-start;
    border-radius: map-get($radius, secondary);
    height: 111px;
    margin-bottom: map-get($margin, primary-mobil);

    &::after {
      content: '';
      border-radius: map-get($radius, secondary);
    }
  }

  h1 {
    position: absolute;
    z-index: 1;
    color: map-get($font-color, secondary);
    font-size: map-get($font-size, header);

    @include mobile {
      padding-left: map-get($margin, primary-mobil);
      font-size: map-get($font-size, header-mobil);
      width: 59%;
    }
  }
}

.logements_wrapper {
  border-radius: map-get($radius, header);
  background-color: map-get($background-color, primary);
  padding: calc(map-get($radius, header) * 2);

  @include mobile {
    padding: 0;
    background-color: unset;
    border-radius: map-get($radius, secondary);
  }
}
