@import 'reset-css/sass/reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import '../../saas/utils/variables';
@import '../../saas/utils/mixin';

#root {
  font-family: 'Montserrat';
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
    flex: 1;
    position: relative;
  }

  @include mobile {
    padding: 0 map-get($margin, primary-mobil);
  }
}
