@import '../../saas/utils/variables';
@import '../../saas/utils/mixin';

.collapse_button {
  @include flex($justify-content: space-between);
  font-size: map-get($font-size, text);
  background-color: map-get($font-color, primary);
  width: 100%;
  border: 0;
  border-radius: map-get($radius, secondary);
  padding: map-get($margin, secondary);
  color: map-get($font-color, secondary);
  font-family: inherit;

  &::after {
    background-image: url(../../assets/nav-arrow-down.svg);
    background-size: map-get($margin, primary) map-get($margin, primary);
    display: inline-block;
    width: map-get($margin, secondary);
    height: map-get($margin, secondary);
    background-position: center;
    content: '';
    transition: all 1s ease;
    transform-origin: center;
    filter: invert(98%) sepia(5%) saturate(240%) hue-rotate(327deg)
      brightness(118%) contrast(100%);

    @include mobile {
      width: map-get($margin, secondary-mobil);
      height: map-get($margin, secondary-mobil);
    }
  }

  &.open::after {
    transform: rotate(-180deg);
  }

  @include mobile {
    border-radius: map-get($radius, mobil);
    padding: map-get($radius, secondary);
  }
}

.collapse_content {
  font-size: map-get($font-size, text);
  position: relative;
  z-index: -1;
  margin-top: calc(0px - map-get($margin, secondary));
  padding: map-get($margin, secondary) map-get($margin, secondary) 0;
  max-height: 0;
  transition: 1s;
  opacity: 0.5;
  color: map-get($font-color, primary);
  border-radius: 0 0 map-get($radius, secondary) map-get($radius, secondary);

  @include mobile {
    border-radius: map-get($radius, mobil);
    padding: map-get($radius, secondary);
  }

  li {
    display: none;
  }

  &.open {
    height: calc(100% - ((map-get($margin, secondary) * 5)));
    max-height: 9999vh;
    opacity: 1;
    background-color: map-get($background-color, primary);
    padding-top: calc(map-get($margin, secondary) * 2);
    padding-bottom: map-get($margin, secondary);

    @include mobile {
      padding-top: calc(map-get($radius, secondary) * 3);
      padding-bottom: map-get($radius, secondary);
      height: auto;
    }

    li {
      display: block;
    }
  }
}
