@mixin mobile {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}

@mixin flex(
  $flex-direction: null,
  $flex-wrap: null,
  $align-content: null,
  $justify-content: null,
  $align-items: null
) {
  display: flex;
  @if $flex-direction {
    flex-direction: $flex-direction;
  }
  @if $flex-wrap {
    flex-wrap: $flex-wrap;
  }
  @if $align-content {
    align-content: $align-content;
  }
  @if $justify-content {
    justify-content: $justify-content;
  }
  @if $align-items {
    align-items: $align-items;
  }
}
